<div>
    <textarea name="description" rows="4" cols="50" placeholder="Enter Description">{{description}}</textarea>
</div>
<div>
    <button type="submit">Submit</button><a href="/about/admin"><button type="button">Back</button></a>
</div>