<div class = "experiencesFormContainer">
    <div>
        <h2> Title </h2>
    </div>
    <div>
        <input name="title" type="text" placeholder="Enter Title" value = "{{title}}">
    </div>
    <div>
        <h2> Description </h2>
    </div>
    <div>
        <textarea class="fontSize" name="description" rows="4" cols="50" placeholder="Enter Description">{{description}}</textarea>
    </div>
    {{#if isSuccessful}}
        <div>
            Updated Successfully
        </div>
    {{/if}}
    {{#if errorMessages.length}}
        <div class = "errormessage">
            {{#each errorMessages}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    {{/if}}
    <div class = "loginButtonContainer">
        <div>
            <button type="submit">Submit</button>
        </div>
        <div>
            <a href="/experiences/admin"><button type="button">Back</button></a>
        </div>
    </div>
</div>