<div>
    <input name="title" type="text" placeholder="Enter Title" value = "{{title}}">
</div>
<div>
    <textarea name="description" rows="4" cols="50" placeholder="Enter Description">{{description}}</textarea>
</div>
{{#if errorMessages.length}}
    <div>
        {{#each errorMessages}}
            <p>{{this}}</p>
        {{/each}}
    </div>
{{/if}}
<div>
    <button type="submit">Submit</button><a href="/experiences/admin"><button type="button">Back</button></a>
</div>