<div class="container"> 
    <div class="Title">
        <h2> Title </h2>
        <div class="inputfields">
            <input name="title" type="text" placeholder="Enter Title" value = "{{title}}">
        </div>
        <div class="image-upload">
            <label for="file-input">
                <img src="uploadimg.jpg"/>
            </label>
            <input id="file-input" type="file" value = "{{projectimage}}" />
        </div>
        <h2> Description </h2>
        <div class="inputfields">
            <textarea name="description" rows="4" cols="50" placeholder="Enter Description">{{description}}</textarea>
        </div>
        <div class="formbuttons">
            <button type="submit">Submit</button><a href="../admin"><button type="button">Back</button></a>
        </div>
    </div>
</div>