<div>
    <input name="title" type="text" placeholder="Enter Title" value = "{{title}}">
</div>
<div>
    <textarea name="description" rows="4" cols="50" placeholder="Enter Description">{{description}}</textarea>
</div>
<div>
    <button type="submit">Submit</button><a href="/admin"><button>Back</button></a>
</div>