<header>
    <div class="logo">
    <h2>KAITAO.</h2>
    </div>
    <nav>
        <ul class = 'nav__links'>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Resume</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
</header>