<header>
    {{!-- <img class="logo" src="/ES logo.jpg" alt="logo"> --}}
    {{#if session.email}}
        <form class="logo" method = "post" action="/logout">
            <input class="logo" type="submit" value="ğ•°ğ–‘ğ–›ğ–ğ–˜ ğ•¾ğ–“ğ–Œ">
        </form>
    {{else}}
        <div class="logo"><a class="logo" href="/login">ğ•°ğ–‘ğ–›ğ–ğ–˜ ğ•¾ğ–“ğ–Œ</a></div>     
    {{/if}}
    <nav>
        <ul class = 'nav_bar'>
            {{#if session.email}}
                <li><a href="/admin">Home</a></li>
                <li><a href="/about/admin">About</a></li>
                <li><a href="/experiences/admin">Experiences</a></li>
            {{else}}
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/experiences">Experiences</a></li>
            {{/if}}
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>