<header>
    <img class="logo" src="/ES logo.jpg" alt="logo">
    <nav>
        <ul class = 'nav__links'>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Me</a></li>
            <li><a href="#">Experiences</a></li>
        </ul>
    </nav>
    <a class="cta" href="#"><button>Contact Me</button></a>
</header>