<header>
    <img class="logo" src="/ES logo.jpg" alt="logo">
    <nav>
        <ul class = 'nav__links'>
            {{#if session.email}}
                <li><a href="/admin">Home</a></li>
            {{else}}
                <li><a href="/">Home</a></li>
            {{/if}}
            
            <li><a href="/about">About</a></li>
            <li><a href="/resume">Resume</a></li>
        </ul>
    </nav>
    {{#if session.email}}
        <a class="cta" href="/logout"><button>Log Out</button></a>
    {{else}}
        <a class="cta" href="/login"><button>Login</button></a>
        
    {{/if}}
</header>