<div class = "container">
    <div class = "fromtop">
        <h2>About Me</h2>
    </div>
    {{#if about.length}}
        <div class = "between">
            <ul style="list-style: none;">
                {{#each about}}
                    <li>{{description}}</li>
                {{/each}}
            </ul>
        </div>
    {{else}}
        NO ABOUT DATA
    {{/if}}

    <div class = "between">
        <h3> Skills: </h3>
    </div>

    {{#if skills.length}}
        <div class = "between">
            <ul class = 'skills'>
                {{#each skills}}
                    <li class="skill">{{name}}</li>  
                {{/each}}
            </ul>
        </div>
        
    {{else}}
        NO SKILLS DATA
    {{/if}}

    <img class="about_picture" src="/about_picture.jpg" alt="about_picture">
</div>