<div class = "container aboutContainer">
    <div>
        <h1>About Me</h1>
        {{#if about.length}}
            <div >
                <ul>
                    {{#each about}}
                        <div class = "aboutDescriptionList">
                            <li>{{description}}</li>
                        </div>
                    {{/each}}
                </ul>
            </div>
        {{else}}
            NO ABOUT DATA
        {{/if}}
        

        {{#if skills.length}}
            <div class="innerContainer">
                <h2> Skills: </h2>
                <ul class = 'skills'>
                    {{#each skills}}
                        <li class="skill">{{name}}</li>  
                    {{/each}}
                </ul>
            </div>
    </div>
            
        {{else}}
            NO SKILLS DATA
        {{/if}}

        <div class = "aboutImage">
            <img class="about_picture" src="/about_picture.jpg" alt="about_picture">
        </div>
</div>