<div>
    {{#if experiences.length}}
        <table border="1">
            <caption>Experiences</caption>
            <tbody>
                {{#each experiences}}
                <tr>
                    <td>{{title}}</td>
                    <td>
                        <a href="/viewExperience/{{id}}" type="button">View</a>
                        <a href="/editExperience/{{id}}" type="button">Edit</a>
                        <a href="#" type="button">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
    <div>
        <p>NO DATA</p>
    </div>
    {{/if}}
    <div>
        <a href="/addExperience" ><button>Add New Experience</button></a>
    </div>
</div>