<div>
    <div class = "contactHeader">
        <h1>Contact Me</h1>
    </div>
    <div class = "contactContainer">
        <a href="mailto:elvissng99@gmail.com" target="_blank"><img src = "/email.jpg"></a>
        <a href="https://www.linkedin.com/in/elvis-sng/" target="_blank"><img src = "/linkedin.jpg"></a>
        <a href="https://github.com/elvissng99" target="_blank"><img src = "/github.jpg"></a>
    </div>
</div>