<div class = "delete-container">
    <form method="POST" action="{{id}}">
        <div class = "blacktext rightside">
            <br><br><br><p>Are you sure you want to delete the information?</p><br><br>
        </div>
        <div>
            <div class = "cancelbutton">
                <a href ="../editAbout/{{id}}"><button type="button">Cancel</button></a>
            </div>
            <div class = "projectdeletebutton">
                <button type="submit">Delete</button>
            </div>
        </div>
    </form>
</div>