<div>
    <form method="POST" action="{{id}}">
        <p>Are you sure you want to delete</p>
        <button type="submit">Delete</button><a href ="../editProject/{{id}}"><button type="button">Cancel</button></a>
    </form>
</div>