<div>
    {{#if experiences.length}}
        <h3>Experiences</h3>
        {{#each experiences}}
        
        <div>
            <a href = "/experiences/{{id}}"><strong>{{title}}</strong></a>
            <p>{{description}}</p>
            <br>
        </div>
        {{/each}}
    {{else}}
    <div>
        <p>NO EXPERIENCES DATA</p>
    </div>
    {{/if}}
</div>