<div class = "experiencescontainer fromtopmin">
    {{#if experiences.length}}
        <div>
            <h1>Experiences</h1>
        </div>
            {{#each experiences}}
                <div class = "fromtopmin">
                    <h2>{{title}}</h2>
                </div>
                <div>
                    <p>{{description}}</p>
                </div>            
        {{/each}}
    {{else}}
        <div class = "errormessage">
            <p>NO EXPERIENCES DATA</p>
        </div>
    {{/if}}
</div>