<div class = "experiencescontainer fromtop">
    {{#if experiences.length}}
        <h3>Experiences</h3>
        <br>
        {{#each experiences}}
        
        <div>
            <strong>{{title}}</strong>
            <p>{{description}}</p>
            <br>
        </div>
        {{/each}}
    {{else}}
    <div>
        <p>NO EXPERIENCES DATA</p>
    </div>
    {{/if}}
</div>