<div class = "logincontainer">
    <form method="POST" action="">
        <div class = "fromtop">
            <h2> Username </h2>
        </div>
        <div class = "loginfield">
            <input name="email" type="email" placeholder="Enter Email">
        </div>
        <div class = "fromtopmin">
            <h2> Password </h2>
        </div>
        <div class = "loginfield">
            <input name="password" type="password" placeholder="Enter Password">
        </div>
            {{#if error}}
                <div>
                    {{error}}
                </div>
            {{/if}}
            <div class = "loginbuttoncontainer">
                <div>
                    <button type="submit">Login</button><a href="../"></a>
                </div>
                <div>
                    <button type="button">Back</button></a>
                </div>
            </div>
            
    </form>
</div>
