<div>
    <form method="POST" action="">
        <div class = "login-container">
            <div class = "about login-elements blacktext">
                <br><br><h2>Username</h2><br>
            </div>
            <div class = "login-elements textbox">
                <input name="username" type="text" placeholder="Enter username"><br><br>
            </div>
            <div class = "login-elements blacktext">
                <h2>Password</h2><br>
            </div>
            <div class = "login-elements textbox">
                <input name="password" type="password" placeholder="Enter password"><br><br>
            </div>
            <div class = "login-elements">
                <div class = "backbutton">
                    <button type="submit">Login</button><a href="../">
                </div>
                <!--<div class = "cancelbutton">
                    <button type="button">Back</button></a>
                </div>-->
            </div>
            {{#if failedToLogin}}
                <div class = "errormessage">
                    <br><br><p> The username or password entered was wrong. Please try again.</p>
                </div>
            {{/if}}
        </div>
    </form>
</div>
