<div class = "loginContainer">
    <form method="POST" action="">
        <div>
            <h2>Email</h2>
        </div>
        <div class = "loginField">
            <input name="email" type="email" placeholder="Enter Email">
        </div>
        <div>
            <h2>Password</h2>
        </div>
        <div class = "loginField">
            <input name="password" type="password" placeholder="Enter Password">
        </div>
            {{#if error}}
                <div class="errormessage">
                    {{error}}
                </div>
            {{/if}}
            <div class = "loginButtonContainer">
                <div>
                    <button type="submit">Login</button>
                </div>
                <div>
                    <a href="../"><button type="button">Back</button></a>
                </div>
            </div>    
    </form>
</div>
