<div>
    <p>{{project.title}}</p>
    <p>{{project.description}}</p>
    
    {{#if isLoggedIn}}
        <a href="/admin"><button>Back</button></a>
    {{else}}
        <a href="/"><button>Back</button></a>
    {{/if}}
    
</div>
