<div class = "readcontainer">
    {{#each experiences}}
        <div class = "fromtopmin">
            <h2>{{title}}</h2>
        </div>
        <div>
            <p>{{description}}</p>
        </div>  
    {{/each}}
        <div>
            {{#if session.email}}
                <a href="/experiences/admin"><button>Back</button></a>
            {{else}}
                <a href="/experiences"><button>Back</button></a>
            {{/if}}
        </div>  
</div>
