<div class = "container">
    <div class="experiencesContainer"> 
        {{#each experiences}}
            <div class="innerContainer">
                <h2>{{title}}</h2>
            </div>
            <div>
                <p class="fontSize">{{description}}</p>
            </div>  
        {{/each}}
        <div class="experiencesContainer">
            {{#if session.email}}
                <a href="/experiences/admin"><button>Back</button></a>
            {{else}}
                <a href="/experiences"><button>Back</button></a>
            {{/if}}
        </div>  
    </div>
</div>
